PDB_BOT_TOKEN={Bot token}
PDB_NEW_SHOW_CHANNEL_ID={Channel ID in which a message will be sent when a new show is added. Remove line to not make use of this functionality}
PDB_PLEX_BASEURL={Plex IP (e.g. http://localhost:32400/)}
PDB_PLEX_TOKEN={Plex token (https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/)}
PDB_PLEX_TV_SHOWS={Plex TV Shows library name. Default: "TV Shows"}